// prevent page contents from overflowing horizontally and allow vertical scroll
body.cui .content--row {
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

body.cui .sidebar--content {
  height: 100%;

  // pad left to correctly offset fixed mini mode sidebar
  &.mini {
    margin-left: 0px;
    padding-left: 90px;
  }

  > .section {
    height: 100%;
  }
}

// offset fixed sidebar from top header on tablet and mobile
.cui .sidebar-margin-top {
  margin-top: var(--cui-header-height);
}

// CX Labs UI Brand Logo specific styles
.cui .header--cx-labs-logo {
  height: 30px;
  margin-left: var(--cui-spacing);
}
